body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #f2f2f2;
}

.movie-card {
  max-width: calc(75% - 5px);
  flex-basis: calc(75% - 20px); 
  width: 50%; 
	display: block;
	color: mediumslateblue;
	text-decoration: none;
  background-color: rgb(240, 130, 236, 0.4);
	border: 0;
	box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
	padding: 2rem;
	cursor: pointer;
	position: relative;
  margin: 70px auto; 
}

.movie-title {
	color: mediumpurple;
  text-shadow: 1px 1px gray;
}

.movie-director {
	padding: 4px 0;
  font-size: 1.1rem;
  color: hotpink;
  text-shadow: 1px 1px gray;
}

.movie-metascore {
  margin: 10px 0; 
}

.saved-list {
  max-width: calc(65% - 5px);
  flex-basis: calc(65% - 20px); 
	background-color: lavender;
	border: 0;
	box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
		0 2px 4px rgba(0, 0, 0, 0.24);
	padding: 1rem;
	cursor: pointer;
	position: relative;
	margin: 1rem auto;
	width: 75%;
	display: flex;
	align-items: center;
  justify-content: space-between;
}

.saved-list h3 {
  margin-right: 10px;
  text-decoration: none;
}

.saved-movie {
  margin: 0 10px;
  text-decoration: none;

}

.saved-active {
	color: blue;
	border: 1px solid grey;
	padding: 5px;
}

.save-wrapper {
	position: relative;
	width: 65%;
  margin: 1rem auto;
}

.save-button {
  max-width: calc(25% - 5px);
  flex-basis: calc(25% - 20px); 
  position: relative;
	top: 0;
	right: -310px;
	border: 1px solid grey;
	padding: 5px 10px;
  background-color: mediumpurple;
  text-align: center; 
 
}

.save-button:hover {
	background-color: mediumorchid;
	color: white;
}

.home-button {
	padding: 10px 10px; 
	background-color: lightskyblue;
}